.reap-icon ul li{
    list-style: none;
}


.context-header{
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
}
.right-header{
    padding-top:7px;
    float:left;
}

.icon-head{
    width: 27.24%;
    height: 71.42%;
    float: left;
}
.txt-icon-head{
    width:70%;
    margin-top: 7.5px;
    float: left;
}

.mg-tp{
    margin-top: 7.3%;
    background: #7abaff;
}

