<!--
<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>REAP</title>
    <link rel="icon" th:href="@{images/favicon.ico}">
    <link href="/css/application.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     &lt;!&ndash; Latest compiled and minified CSS &ndash;&gt;
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

&lt;!&ndash; jQuery library &ndash;&gt;
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

&lt;!&ndash; Latest compiled JavaScript &ndash;&gt;
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


</head>

<body>
<div id="container-fluid">
    <div class="middle-section">

        <div id="banner">
            <div class="container">
                &lt;!&ndash; LOGIN SECTION &ndash;&gt;
                <div class="login">
                    <a href="#" class="btn btn-info btn-lg" id="login-section" data-toggle="modal" data-target="#login"
                       data-backdrop="static" data-keyboard="false">

                        Log in
                    </a>
                    &lt;!&ndash; Modal &ndash;&gt;
                    <div class="modal fade" id="login" tabindex="-1" role="dialog">
                        <div class="modal-dialog">

                            &lt;!&ndash; Modal content&ndash;&gt;
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <ul class="nav nav-pills card-header-pills">
                                        <li class="nav-item">
                                            <a class="nav-link close" href="#">Login</a>
                                        </li>
                                        <li class="nav-item">

                                            <a class="nav-link" data-dismiss="modal" href="#"  data-toggle="modal" data-target="#signup"
                                               data-backdrop="static" data-keyboard="false">Sign Up</a>
                                        </li>
                                    </ul>
                                <div class="modal-body">
                                    <div class="panel panel-primary">

                                        <div class="panel-body">


                                            <form id="signIn" class="form-horizontal"  th:object="${user}"
                                                  method="post" autocomplete="off" th:action="@{'/login'}"

                                            >
                                                <div class="form-group">
                                                    <label class="control-label col-sm-2"
                                                           for="username">Username:<span>*</span></label>
                                                    <div class="col-sm-10">
                                                        <input type="email" th:field="*{username}" class="form-control"
                                                               id="username"
                                                               placeholder="Enter Username">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-sm-2"
                                                           for="loginpwd">Password:<span>*</span></label>
                                                    <div class="col-sm-10">
                                                        <input type="password" th:field="*{password}"
                                                               class="form-control" id="loginpwd"
                                                               placeholder="Enter Password"
                                                               th:name="password" >
                                                    </div>
                                                </div>


                                                <div class="modal-footer">
                                                    <div class="form-group">
                                                        <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#forgotPassword">Forgot

                                                            Password</a>
                                                        <button type="submit" id="submitForm" class="btn btn-primary">Sign In</button>
                                                        <div th:if="${param.error}" class="alert alert-danger" role="alert">
                                                            Invalid Username and Password.
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                </div>
                &lt;!&ndash; SIGNUP SECTION &ndash;&gt;
                <div class="signUp">

                    <a href="#" class="btn btn-info btn-lg"  id="registerButton" data-toggle="modal" data-target="#signup"
                       data-backdrop="static" data-keyboard="false">
                         Sign Up
                    </a>
                    <div class="modal fade" id="signup" role="dialog">
                        <div class="modal-dialog">

                            &lt;!&ndash; Modal content&ndash;&gt;
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <ul class="nav nav-pills card-header-pills">
                                        <li class="nav-item">
                                            <a class="nav-link " data-dismiss="modal" href="#"  data-toggle="modal" data-target="#login"
                                               data-backdrop="static" data-keyboard="false">Login</a>
                                        </li>
                                        <li class="nav-item">

                                            <a class="nav-link close" href="#">Sign Up</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="modal-body">
                                    <div id="register-message"></div>

                                    <div class="panel panel-primary">

                                        <div class="panel-body">


                                            <form id="registeration" th:action="@{'/register'}" enctype="multipart/form-data" class="form-horizontal"
                                                   th:Object="${user}" method="post"
                                                  autocomplete="off">


                                                <div class="form-group">
                                                    <label class="control-label col-sm-2"
                                                           for="firstName">FirstName:<span>*</span></label>
                                                    <div class="col-sm-10">
                                                        <input type="text" th:field="*{firstName}" class="form-control"
                                                               id="firstName" placeholder="Enter FirstName">

                                                    </div>
                                                </div>

                                                &lt;!&ndash; LastName &ndash;&gt;
                                                <div class="form-group">
                                                    <label class="control-label col-sm-2"
                                                           for="lastName">LastName:<span>*</span></label>
                                                    <div class="col-sm-10">
                                                        <input type="text" th:field="*{lastName}" class="form-control"
                                                               id="lastName" placeholder="Enter LastName">

                                                    </div>
                                                </div>

                                                &lt;!&ndash; Email Address &ndash;&gt;
                                                <div class="form-group">
                                                    <label class="control-label col-sm-2"
                                                           for="registerEmail">Email:<span>*</span></label>
                                                    <div class="col-sm-10">
                                                        <input type="email" th:field="*{username}" class="form-control"
                                                               id="registerEmail"
                                                               placeholder="abc@tothenew.com">

                                                    </div>
                                                </div>



                                                &lt;!&ndash; Password &ndash;&gt;
                                                <div class="form-group">
                                                    <label class="control-label col-sm-2"
                                                           for="pwd">Password:<span>*</span></label>
                                                    <div class="col-sm-10">
                                                        <input type="password" th:field="*{password}"
                                                               class="form-control"
                                                               id="pwd" placeholder="Enter Password" required>

                                                    </div>
                                                </div>

                                                &lt;!&ndash; Add Photo &ndash;&gt;
                                                <div class="form-group">
                                                    <div class="custom-file">
                                                        <label class="custom-file-label control-label col-sm-2"
                                                               for="customFile">Photo:</label>
                                                        <div class="col-sm-10">
                                                            <input type="file" th:field="*{image}" class="custom-file-input form-control"
                                                                   id="customFile" required>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="modal-footer">
                                                    <div class="form-group">
                                                        <div class="col-sm-offset-2 col-sm-10">
                                                            <button id="register" type="submit" class="btn btn-primary">

                                                                Register
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                &lt;!&ndash; FORGOT PASSWORD MODAL SECTION &ndash;&gt;
                <div class="modal fade" id="forgotPassword" role="dialog" >
                    <div class="modal-dialog">

                        &lt;!&ndash; Modal content&ndash;&gt;
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Forgot Password</h4>
                            </div>
                            <div class="modal-body">
                                <p>Enter your Email address and we'll send you a link to reset your password!</p>
                                <div class="panel panel-primary">
                                    <div class="panel-body">
                                        <form class="form-horizontal" th:action="@{'/forgot'}"  autocomplete="on" th:Object="${user}" method="post">
                                            <div class="form-group">
                                                <label class="control-label col-sm-2" for="username-pwd">Email:</label>
                                                <div class="col-sm-10">
                                                    <input type="username" class="form-control" id="username-pwd" th:field="*{username}" required>
                                                </div>
                                            </div>


                            <div class="modal-footer">
                                <div class="form-group">

                                    <button type="submit" class="btn btn-primary">Send Password</button>

                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>

                                </div>
                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>
</div>
</body>

</html>-->
