<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>REAP</title>
    <link rel="icon" th:href="@{images/favicon.ico}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{css/style.css}">
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{js/confirmPass.js}"></script>
</head>
<body>
<nav class="navbar navbar-light bg-white navbar-expand-lg sticky-top">
    <a class="navbar-brand" href="#">
        <img th:src="@{images/reap-logo.png}" height="30" class="d-inline-block align-top" alt="reap-logo">
    </a>
    <!-- Hide on screens smaller than lg -->
    <span class="navbar-text d-none d-lg-block">
    <span class="reap-text" style="color: #bd3fb4">reward.</span>
    <span class="reap-text" style="color: #004ba1">earn.</span>
    <span class="reap-text" style="color: #f03434">acknowledge.</span>
    <span class="reap-text" style="color: #eacb11">praise</span>
  </span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
        <span style="color: #fff;" class="navbar-toggler-icon">sfdsfs</span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="btn btn-outline-danger" href="http://newersworld.tothenew.com/myProfile">Back to Newers World</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container mx-auto my-5 p-4" style="background: #fff; width: 70%;">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-login-tab" data-toggle="tab" href="#nav-login" role="tab"
               aria-controls="nav-login" aria-selected="false">Reset Password</a>

        </div>
    </nav>
    <div class="tab-content p-4" id="nav-tabContent">
        <div class="tab-pane fade  show active" id="nav-login" role="tabpanel" aria-labelledby="nav-login-tab">
            <!-- Login form -->
            <form id="registeration" th:action="@{'/updatePass'}" enctype="multipart/form-data" class="form-horizontal"
                  th:Object="${user}" method="post"
                  autocomplete="off">
                <div class="newer-row form-label-group">
                    <input type="password" id="confirmpassword" class="form-control" placeholder="Password" required
                           autofocus>
                </div>

                <div class="newer-row form-label-group">
                    <input type="password" th:field="*{password}" id="inputPassword" class="form-control" placeholder="Password" required>
                </div>
                <input type="checkbox">Please check the checkbox to match password.
                <input type="hidden" th:field="*{resetToken}" th:value="${user.resetToken}"/>
                <span id="err" class="alert-danger"></span>

                <div class="newer-row">
                    <button class="btn btn-success btn-lg btn-block" type="submit">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('input[type="file"]').change(function (e) {
            var fileName = e.target.files[0].name;
            $("#inputPhoto").text(fileName);
            console.log(fileName);
        });
    });
</script>

</body>
</html>
